{{ define "main" }}

{{ .Content }}
<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            <a href="{{ .Permalink }}" title="{{ .Title }}" class="image-link">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "1600x1600" }}
                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
            {{end}}
            </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}
